ion-toolbar{
  --background:var(--white) !important;
  --padding: 0px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px !important;
  padding-bottom: 16px;
  --border-width: 0px !important;
  font-weight: bold;
  font-size: 20px;

  ion-buttons{margin: 0px}
  ion-button{

    margin: 0px;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    padding: 0;

  }
}

ion-content{
  --background:var(--blue) ;

}

.map.visible{
  opacity: 1;

}
.search{
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
 --border-radius:0 !important;

}
.map{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  opacity: 0;
  transition: opacity 150ms ease-in;
}
.expert-info ion-col{
  background: #FFF;
  display: flex;
  gap: 10px;
  align-items: center;
  ion-icon{
    width: 35px;
    height: 35px;
  }
  .details{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
  }

}
.loading{
  animation: flicker 2s infinite;
  font-size: 20px;
  margin-top: 20px;
  ion-col{
    margin-left: 16px;
  }
}
@keyframes flicker {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.9);
    background-color: var(--yellow);
  }
}

.regnum{
  width: 100%;
  background: #FFF;
  margin-top: 10px;
  text-indent: 10px;
  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 8px;
}
