
<ion-content [fullscreen]="true">
  <div class="info">
    <ion-icon name="person-circle"></ion-icon>
    <ion-text>Heyder Muxtarli</ion-text>

  </div>
<ion-col (click)="sendHelp()" class="sections">
  <ion-img src="assets/icon/help.png"></ion-img>
  <ion-text>Contact us</ion-text>
</ion-col>
  <ion-col (click)="sendMedical()" class="sections">
    <ion-img src="assets/icon/chat.png"></ion-img>
    <ion-text>Medical assistance</ion-text>
  </ion-col>
  <ion-col (click)="sendFaq()" class="sections">
    <ion-img src="assets/icon/faq.png"></ion-img>
    <ion-text>FAQ</ion-text>
  </ion-col>

</ion-content>
