ion-toolbar{
  --background:var(--white) !important;
  --padding: 0px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px !important;
  padding-bottom: 16px;
  --border-width: 0px !important;
  font-weight: bold;
  font-size: 20px;

  ion-buttons{margin: 0px}
  ion-button{

    margin: 0px;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    padding: 0;

  }
}

ion-content{
  --background:var(--blue) ;
}

.info{
  margin-bottom: 30px;
  border-bottom: 1px solid #646262;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 10px;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  gap: 15px;
  ion-icon{
    width: 60px;
    height: 60px;
  }
  ion-text{
    font-weight: 600;
  }
}

.sections{
  padding:10px;
  display: flex;
  align-items: center;
  //background: #FFF;
  padding-inline: 16px;
  gap: 30px;
  ion-img{
    width: 40px;
    height: 40px;
  }
}
