ion-toolbar{
  --background:var(--white) !important;
  --padding: 0px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px !important;
  padding-bottom: 16px;
  --border-width: 0px !important;
  font-weight: bold;
  font-size: 20px;

  ion-buttons{margin: 0px}
  ion-button{

    margin: 0px;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    padding: 0;

  }
}

ion-content{
  --background:var(--blue) ;
  --padding-top: 20px;
}

.sections{
  padding:10px;
  display: flex;
  align-items: center;
  //background: #FFF;
  padding-inline: 16px;
  gap: 30px;
  ion-img{
    margin-bottom: 3px;
    width: 40px;
    height: 40px;
  }
}
ion-col{
  width: 100%;

}
