<ion-header class="ion-no-border" >
  <ion-toolbar class="d-flex ">
    <ion-buttons slot="start">
      <!--      <ion-button (click)="goBack()">-->
      <!--        <img src="assets/icon/arrow-back.svg" alt="Back">-->
      <!--      </ion-button>-->
      <ion-back-button style="color:black" defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-buttons  slot="start">
     FAQ
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group>
    <ng-container *ngFor="let x of faq; index as i">
    <ion-accordion [value]="i">
      <ion-item slot="header" color="light">
        <ion-label>{{x.question}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">{{x.answer}}</div>
    </ion-accordion>
    </ng-container>

  </ion-accordion-group>
</ion-content>
