<ion-header class="ion-no-border" >
  <ion-toolbar class="d-flex ">
    <ion-buttons slot="start">
      <ion-back-button style="color:black" defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-buttons  slot="start">
      Medical assistance
    </ion-buttons>


  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-row class="questions">
    <ng-container *ngFor="let x of data">
    <ion-col size="12" [ngClass]="{'left':x.type==='answer','right':x.type==='question'}">
      <div>
        <ion-text>{{x.text}}</ion-text>
      </div>
    </ion-col>
    </ng-container>
  </ion-row>
<ion-row  (click)="handleClick($event)"class="text-row">
  <ion-col  class="userText">
<!--    {{prompt}}-->
    <ion-input [(ngModel)]="prompt" placeholder="Sualınızı verin"></ion-input>
    <ion-img *ngIf="!loading" (click)="call()" src="assets/icon/submit.png"></ion-img>
    <ion-spinner *ngIf="loading" name="lines"></ion-spinner>
  </ion-col>
</ion-row>

</ion-content>
