<ion-header class="ion-no-border" >
  <ion-toolbar class="d-flex ">
    <ion-buttons slot="start">
      <ion-back-button style="color:black" defaultHref="/profile/contact-us"></ion-back-button>
    </ion-buttons>
    <ion-buttons  slot="start">
      Contact us
    </ion-buttons>


  </ion-toolbar>
</ion-header>



<ion-content >
  <ion-row>
    <ion-col class="mycol">
      <select [(ngModel)]="type">
        <option value="0">Suggestion</option>
        <option value="1">Complaint</option>
      </select>
      <ion-textarea [(ngModel)]="suggestion" *ngIf="type==0" type="text" placeholder="Your suggestion"></ion-textarea>
      <ion-textarea  [(ngModel)]="suggestion" *ngIf="type==1" type="text" placeholder="Your complaint"></ion-textarea>
      <ion-button  (click)="submit()">Submit</ion-button>
    </ion-col>
  </ion-row>
  <ion-alert
    [isOpen]="isAlertOpen"
    header="Succesfull"
  ></ion-alert>

</ion-content>
