<ion-header class="ion-no-border" >
  <ion-toolbar class="d-flex ">
    <ion-buttons slot="start">
      <!--      <ion-button (click)="goBack()">-->
      <!--        <img src="assets/icon/arrow-back.svg" alt="Back">-->
      <!--      </ion-button>-->
      <ion-back-button style="color:black" defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-buttons  slot="start">
      Receipts
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-row style="margin-top: 20px">
<ng-container *ngFor="let x of receipt">
  <ion-col (click)="openPdf(x.receiptImageSource)" class="pdf" >
    <ion-img src="assets/icon/pdf.png"></ion-img>
    <ion-text>{{x.receiptImageName}}</ion-text>
  </ion-col>
</ng-container>

</ion-row>
</ion-content>

<div class="viewer"  *ngIf="show" >
  <ion-icon class="close" (click)="close()" name="close-circle-sharp"></ion-icon>
  <pdf-viewer [src]="pdfSrc"
              [render-text]="true"
              [original-size]="false"
              style="width: 400px; height: 500px"
  ></pdf-viewer>
</div>
